.drawTableCss {
    /*background-color: red;*/
    border-spacing: 0;
    padding: 0;
    margin: 0;
    width: 210px;
}

.drawTableCss td {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.drawTableCss .block {
}